@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>
        William Kershaw
        <br />
        <small class="text-muted">
            Graduate Software Engineer
        </small>
    </h1>
</div>

<div class="text-center">
    <img src="~/images/Portfolio.png" class="rounded mx-auto d-inline-block" />
    <img src="~/images/WilliamKershaw.png" class="rounded mx-auto d-inline-block" />
</div>

<h2 class="display-4 mb-4">Bio</h2>

<div class="w-100 d-flex">
    <div class="w-50 border-right border-dark">
        <p>
            <strong>Email:</strong> wkershaw456@gmail.com
            <br />
            <br />
            <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/william-k-799010108/">linkedin.com/in/william-k-799010108</a>
            <br />
            <br />
            <strong>GitHub:</strong> <a href="https://github.com/wkershaw">github.com/wkershaw</a>
        </p>
    </div>
    <div class="align-top flex-grow-1 pl-4">
        <p>
            I am a motivated graduate with a keen interest in programming and software engineering.
            Having recently graduated with a 1st class degree in computer science,
            I believe I will be able to immediately start contributing ideas and skills to a development team whilst also taking the opportunity to expand my own knowledge.
            <br />
            <br />
            Outside of my computer science course,
            I also took time at university to undertake extra-curricular activities such as being a part of the ultimate frisbee team,
            where competed at a national level, greatly improving my teamwork and communication skills.
        </p>
    </div>
</div>


